*,
*::after,
*::before {
  padding: 0px;
  margin: 0px;
  box-sizing: inherit;
}

html {
  font-size: 62.5%; // 1rem = 10px; 10px/16px = 62.5%

  @media only screen and (max-width: 56.25em) {
    font-size: 50%; // 1rem = 8px; 8px/16px = 50%
  }

  @media only screen and (max-width: 72em) {
    font-size: 56.25%; // 1rem = 9px; 9px/16px = 56.25%
  }

  @media only screen and (min-width: 112.5em) {
    font-size: 75%; //1rem = 12px; 12px/16px = 75%
  }
}

body {
  box-sizing: border-box;
  font-weight: 400;
  line-height: 1.7;
  color: #fff;
  font-size: 1.6rem;
  background-color: #1b1b1b;
}

.container {
  max-width: 134rem;
  margin: 0 auto;
}

.row {
  max-width: 114rem;
  margin: 0 auto;
}

.u-text-center {
  text-align: center;
}

@mixin respond($breakpoint) {
  @if $breakpoint == phone {
    @media only screen and (max-width: 37.5em) {
      // 600px
      @content;
    }
  }

  @if $breakpoint == tab-port {
    @media only screen and (max-width: 56.25em) {
      // 900px
      @content;
    }
  }

  @if $breakpoint == tab-land {
    @media only screen and (max-width: 72em) {
      // 1200px
      @content;
    }
  }

  @if $breakpoint == big-desktop {
    @media only screen and (min-width: 112.5em) {
      // 1800px
      @content;
    }
  }
}
